ELASTIC_VERSION=9.3.0

# Passwords — change before first run
ELASTIC_PASSWORD='changeme'
LOGSTASH_INTERNAL_PASSWORD='changeme'
KIBANA_SYSTEM_PASSWORD='changeme'

# Beats users (leave empty if not using Beats extensions)
METRICBEAT_INTERNAL_PASSWORD=''
FILEBEAT_INTERNAL_PASSWORD=''
HEARTBEAT_INTERNAL_PASSWORD=''
MONITORING_INTERNAL_PASSWORD=''
BEATS_SYSTEM_PASSWORD=''
